<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Detalle</title>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css"/>

    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/detalle.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">

  </head>

  <body>

      <header>
        <%- include('./partials/header')%>
      </header>
      
<main>

  <div class="uk-section">
      <div class="uk-container">
          <li>DETALLE DE LA SERIE</li>

          <div id="detalle-serie">
          </div>
          <button type="button" name="button" id="favoritos">Agregar a favoritos ❤</button>

          <div>
              <ul uk-accordion>
                <li> <a class="uk-accordion-title" href="#"><h3 class="temp">Temporadas</h3> </a>
                  <div class="uk-accordion-content">
                    <ul uk-accordion class="temporadas">
              
                    </ul>
                </div>
              </li>
          </div>




          <div id="masinfo">
            <section id="trailer">
              <div uk-slider= "autoplay: true" class="uk-position-relative uk-visible-toggle uk-light" id="contenedor-carrusel-1" tabindex="-1" uk-slider>
                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m" id="trailers">
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
              </div>
            </section>
            <section id="reviews">

              <form action="/detalle?id=+<%=id%>" method="POST">
                    <h1 id="titulo">Escribí una reseña</h1>
<br>
                  <label  class='inputs' for="">Reseña</label>
                  <br>
                  <textarea name="texto_res" id="" cols="30" rows="5" required></textarea>
<br>
                  <label class='inputs' for="">Puntaje</label>
                  <br>
                  <input max="10" min="0" type="number" name="puntaje" required>

<br>
                  <button type="submit">Enviar</button>

              </form>
            </section>
                     
          </div>

          <div>
            <h1 class="tit">Reseñas de otros usuarios</h1>
       

            <% if (reseniaSerie.length != 0) { %>
              <ul >
                <% for (let i=0; i< reseniaSerie.length; i++) { %>
                  <li class="resenia">
                    <p>"<%= reseniaSerie[i].texto_res %>" </p>
                    <p> <i class="far fa-star"></i> Puntaje: <%= reseniaSerie[i].puntaje %></p>
                    <p> <i class="far fa-calendar"></i> Última actualización: <%= reseniaSerie[i].updatedAt %></p>
                    <p> <i class="far fa-user"></i> Autor: <a href="/usuarios/perfil-usuario/<%=reseniaSerie[i].usuario.id %>"><%= reseniaSerie[i].usuario.nombre_usuario %> </a></p>
                  </li>
                  <% } %> 
                </ul>
                <% } else { %>
                  <p class="noHayRta"> Todavía no hay reseñas, ¡Sé el primero en escribir una!</p>
                <% } %>
              
              
              

          </ul>

          </div>

          <section id= "sectionReco">


          <button id="abracadabra" type="button" name="button">Relacionadas a este título</button>

          <div uk-slider= "autoplay: true" class="uk-position-relative uk-visible-toggle uk-light" id="contenedor-carrusel" tabindex="-1" uk-slider>
          <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m" id="recomendaciones">
          </ul>
          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
          </div>
        </section>
      </div>
  </div>
  <section>
    <a href="#my-id" uk-scroll id="toptop"><i class="fas fa-arrow-up"></i></a>
</section>

</main>

    <footer>
      <%- include('./partials/footer')%>
    </footer>

    </body>

    <script src="https://kit.fontawesome.com/e32b1dc814.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
    <script type="text/javascript" src="/javascripts/detalle.js"></script>
    <script type="text/javascript" src="/javascripts/generos.js"></script>
    <script type="text/javascript" src="/javascripts/favoritos.js"></script>

    </html>
