<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css"/>

    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/miPerfil.css">
    
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>

<body>
  <header>
    <%- include('./partials/header')%>
  </header>

  <main>

    <% if (tipo == 'borrar') { %>
      <% if (error == 'false') { %>
      <div class="uk-section">
        <div class="uk-container">
      <form  method="POST" class="iniciar_sesion" action="/usuarios/miPerfil/borrar/<%=id %>">
          
        <h1> Eliminar cuenta </h1>

        <p class="borrar">Ingrese sus datos para eliminar su cuenta</p>
          
          <label for="email">Email</label>

          <input type="text" name="email" value="" required placeholder="E-mail" id="email">
      <br>
          <label for="contraseña">Contraseña</label>

          <input type="password" name="contrasenia" value="" required min="8" placeholder="Contraseña" >
      <br>

        <button id="bu" type="submit" name="button">¡Listo!</button>

      </form>
      </div>
    </div>
        <% } else { %>
          <div class="uk-section">
            <div class="uk-container">
          <form  method="POST" class="iniciar_sesion" action="/usuarios/miPerfil/borrar/<%=id %>">

            <p class="aviso"><i class="fas fa-exclamation-triangle alerta"></i></p>    
            <p id="errorEmail"> Los datos ingresados no son válidos </p> 
              
            <h1> Eliminar cuenta </h1>
    
            <p class="borrar">Ingrese sus datos para eliminar su cuenta</p>
              
              <label for="email">Email</label>
    
              <input type="text" name="email" value="" required placeholder="E-mail" id="email">
          <br>
              <label for="contraseña">Contraseña</label>
    
              <input type="password" name="contrasenia" value="" required min="8" placeholder="Contraseña" >
          <br>
    
            <button id="bu" type="submit" name="button">¡Listo!</button>
    
          </form>
          </div>
        </div>
          <% } %>
      <% } else { %>

    <div class="uk-section">
      <div class="uk-container">
        <h1>¡Hola, <%= detalle.nombre_usuario %>!</h1>
        
        <h2>Mi Perfil <i class="fas fa-user"></i></h2>

        <p>Email: <%= detalle.email %></p>
        <p>Fecha de nacimiento: <%= detalle.fecha_nac %></p>
        <p>Género favorito: <%= detalle.genero_fav %> </p>

<br>

        <a href="/usuarios" class="enlace">  Explorar otros usuarios <i class="fas fa-user"></i></a>
        <br>
        <br>
        <a href="/resenias" class="enlace"> Explorar reseñas <i class="fas fa-book-open"></i></a>
        <br>
        <br>
        <a href="/usuarios/resenias/<%= detalle.id %>" class="enlace"> Editar mis reseñas <i class="fas fa-edit"></i></a>
        <br>
        <br>
        <a href="/usuarios/miPerfil/borrar/<%= detalle.id %>" class="enlace"> Eliminar mi cuenta <i class="fas fa-trash-alt"></i></a>
      


       </div>
      </div>

      <% } %>

  </main>
 
 <section>
  <a href="#my-id" uk-scroll id="toptop"><i class="fas fa-arrow-up"></i></a>
</section>
<br>
  <footer>
    <%- include('./partials/footer')%>
  </footer>

</body>


<script src="https://kit.fontawesome.com/e32b1dc814.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>


<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
<script type="text/javascript" src="/javascripts/generos.js"></script>
<script type="text/javascript" src="/javascripts/dropdown.js"></script>
<script type="text/javascript" src="/javascripts/Sesion.js"></script>
</html>
